*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Inter', sans-serif;
    background-color: white;
    margin-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}

p{
    font-family: 'Inter', sans-serif;
}

/* head index.html*/

.header {
    background-color: blue;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinear el logo y el menú verticalmente en el centro */
    max-width: 992px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px; /* Espaciado para que el contenido no quede pegado a los bordes */
}

.nav-link {
    color: white;
    text-decoration: none; 
    white-space: nowrap; /* Asegura que el texto del menú no se divida */
}

.logo img {
    width: 170px;
    display: block;
    padding: 0 10px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu-item {
    font-size: 15px;
    margin: 0 10px;
    white-space: nowrap;
}

.nav-menu-link {
    padding: 8px 9px;
    border-radius: 5px;
}

.nav-menu-link:hover {
    border-bottom: 4px solid greenyellow;
    background-color: white;
    border-radius: 5px;    
    transition: 0.5s;
    color: blue;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* banner página principal index.html */
.contenedor2 .fondo .banner1 .fotoBan {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto ;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;


    width: 100%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

/* main index.html */

.main {
    width: 100%;
    max-width: 100%;
}

.franja {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px;
    
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}
.franja h3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    word-spacing: 18px;
    letter-spacing: 4px;
    font-size: 1.5rem;
    color: yellow;
    overflow: hidden;
}

/* estilo textos index.html */
.caja-texto {
    margin: 0 auto;
    padding: 20px 20px;
    background-color: white;
    max-width: 992px;
    max-height: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-gap: 20px;
    grid-template-areas:
        "logo__servi"
        "title1"
        "p1"
        "title2"
        "p2";
    justify-content: center;
    align-content: center;
}

.caja-texto h2, h3 {
    margin: 0 auto;
}

.logo__servi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-texto img {
    width: 200px;
}

.logo__servi {
    grid-area: logo__servi;
}

.title1 {
    grid-area: title1;
}

.p1 {
    grid-area: p1;
}

.title2 {
    grid-area: title2;
}

.p2 {
    grid-area: p2;
}


/* box gris y fototeca index.html */

.fototeca {    
    background-size: cover;
    background-position: center;
    height: 180px;
}

.foto1 {
    background-image: url(../Img/Seguro\ de\ viaje.jpg);
}

.foto2 {
    background-image: url(../Img/Padre\ e\ hijo.jpg);
}

.foto3 {
    background-image: url(../Img/Familia.jpg);
}

.foto4 {
    background-image: url(../Img/Mujer.jpg);
}

/* efectos servicios index.html */
.servi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    padding: 3px;
}

.caja__general {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caja {
    max-width: 100%;
}

.caja h3, .caja p {
    margin: 0 auto;
}

.caja h3 {
    padding: 3px;
    font-size: 20px;
    letter-spacing: 5px;
}

.caja p {
    padding: 8px 3px;
    font-size: 15px;
    letter-spacing: 1px;
}

.caja img {
    width: 100px;
    margin: 0 auto;
}


/* boton cotizar general del proyecto */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.cotizar {
    background-color: yellowgreen;
    color: #FFF;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

.cotizar:hover {
    background-color: #15ff00;
}



/* footer general del proyecto */

.pie-pagina {
    width: 100%;
    background-color: #3d16c7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 20px;
    justify-items: center;
}

.pie-pagina .grupo-1 .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.pie-pagina .grupo-1 .box img {
    width: 250px;
    max-width: 100%;
}

.pie-pagina .grupo-1 .box h2 {
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.pie-pagina .grupo-1 .box p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.pie-pagina .grupo-1 .red-social {
    margin-top: 15px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 55px;
    height: 55px;
    line-height: 55px;
    color: white;
    margin-right: 10px;
    background-color: #3d16c7;
    border-radius: 50%;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: #3d16c7;
    background-color: white;
}

.pie-pagina .grupo-2 {
    width: 100%;
    background-color: #3d16c7;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}


/* TERMINOS */

/* efectos terminos.html*/

.terminos {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f2f2f2;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}

.terminos h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

.terminos ol {
    padding-left: 20px;
}

.terminos li {
    margin-bottom: 30px;
}

.terminos h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.terminos p {
    font-size: 16px;
    line-height: 1.5;
}

/* Efectos nosotros.html */

.main__nosotros {
    background-size: 100%;
    background-position: center center;
    background-color: #f4f4f4;
    padding: 50px 0;
}

.nosotros {
    width: 90%;
    padding: 50px;
    margin: 0 auto;
}

.container {
    font-family: 'Bebas Neue', sans-serif;
}

.nosotros h2 {
    font-size: 50px;
    text-align: center; 
}

.nosotros h3, p {
    text-align: center; 
}


/* Efectos servicios.html */


.main__servicios {
    background-color: white;
    background-size: 100%;
    background-position: center center;
    padding: 50px 0;
}

.servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

.servicios h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 2px 2px;
    text-align: center;
    color: black;
}

.ser__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ser__container .servicio {
    flex-basis: 30%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #cccccc3f;
}


.ser__container .servicio h3 {
    font-size: 1.8rem;
    margin-bottom: 20px 20px;
    padding: 2px 2px;
    text-align: center;
    letter-spacing: 4px;
    color: black;
    background-color: #faa499;
    background-image: linear-gradient(319deg, #faa499 0%, #f7dd85 37%, #ffc55c 100%);
}

.ser__container .servicio p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

.ser__container .servicio h4 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 2px;
    padding: 2px 2px;
    text-align: center;
    color: black;
    background-color: #faa499;
    background-image: linear-gradient(319deg, #faa499 0%, #f7dd85 37%, #ffc55c 100%);
}

.ser__container .servicio ul {
    padding-left: 25px;
}

.ser__container .servicio ul li {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.ser__container .servicio h5 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}



/* efectos contacto.html*/


.main__contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Img/FondoBase.png);
    background-size: 100%;
    background-position: center center;
    background-color: #f4f4f4;
    padding: 50px 0;
    font-family: 'Inter', sans-serif;
}

.formulario {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
}

.formulario label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario input[type="radio"] {
    margin-right: 5px;
}

.formulario select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.formulario input[type="submit"],
.formulario input[type="reset"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario input[type="submit"]:hover,
.formulario input[type="reset"]:hover {
    background-color: #555555;
}

.comentarios {
    margin-top: 20px;
}

.comentarios h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.comentarios textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    font-size: 16px;
}


/* efectos cotizador.html*/
/* Estilos generales */


.coti__body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.coti__body h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="date"],
input[type="email"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.telefono-container {
    display: flex;
    align-items: center;
}

.telefono-container select {
    flex: 0 0 80px;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Estilos específicos para el cotizador */


.cotizador h2 {
    text-align: center;
}


.cotizador {
    background-color: #f9f9f9;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cotizar-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

.cotizar-btn:hover {
    background-color: #0056b3;
}

.edades-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.casillas-edad > div {
display: none;
}

.casillas-edad > div:target {
display: block;
}

.edades-container .casilla-edad {
display: none;
}

.edades-container .casilla-edad:target {
display: block;
}

.edades-container .casilla-edad.active {
display: block;
}

.edades-container .casilla-edad {
    display: none;
}

.edades-container .casilla-edad:target {
    display: block;
}

.card-wrapper {
    column-gap: 8px;
}

/* Guia comprar serguro */

.guia__cotizar {
    margin: 0 auto;
    padding: 30px 30px;
    background-color: whitesmoke;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.6rem;
}

.container__guia {
    margin: 0 auto;
    background-color: white;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 numero1 texto1"
        "texto2 numero2 img2"
        "img3 numero3 texto3"
        "texto4 numero4 img4";
}

.texto1, .texto2, .texto3, .texto4 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.img1 {
    grid-area: img1;
    margin: 0 auto;
}

.numero1 {
    grid-area: numero1;
    position: relative;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    color: darkcyan;
    margin: 0 auto;
    padding: 0px 0px 20px;
    z-index: 2;
}

.numero1 p {
    position: relative;
    margin: 0;
    z-index: 0;
    text-align: center;
}

.dotted-line-container {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
    z-index: -1;
}

.dotted-line-container::after {
    content: "";
    background: linear-gradient(rgba(75, 75, 75, 0.671) 50%, transparent 50%);
    background-size: 5px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px; /* Ancho de la línea de puntos */
    transform: translateX(-50%);
}




.texto1 {
    grid-area: texto1;
    margin: 0 auto;
}

.texto2 {
    grid-area: texto2;
    margin: 0 auto;
}

.numero2 {
    grid-area: numero2;
    position: relative;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    color: darkcyan;
    margin: 0 auto;
    padding: 0px 0px 20px;
    z-index: 2;
}

.numero2 p {
    position: relative;
    margin: 0;
    z-index: 0;
    text-align: center;
}

.dotted-line-container {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
    z-index: -1;
}

.dotted-line-container::after {
    content: "";
    background: linear-gradient(rgba(75, 75, 75, 0.671) 50%, transparent 50%);
    background-size: 5px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px; /* Ancho de la línea de puntos */
    transform: translateX(-50%);
}

.img2 {
    grid-area: img2;
    margin: 0 auto;
}

.img3 {
    grid-area: img3;
    margin: 0 auto;
}

.numero3 {
    grid-area: numero3;
    position: relative;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    color: darkcyan;
    margin: 0 auto;
    padding: 0px 0px 20px;
    z-index: 2;
}

.numero3 p {
    position: relative;
    margin: 0;
    z-index: 0;
    text-align: center;
}

.dotted-line-container {
    position: relative;
    display: flex;
    align-items: center;
    height: calc(100% - 100px);
    z-index: -1;
}

.dotted-line-container::after {
    content: "";
    background: linear-gradient(rgba(75, 75, 75, 0.671) 50%, transparent 50%);
    background-size: 5px 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px; /* Ancho de la línea de puntos */
    transform: translateX(-50%);
}

.texto3 {
    grid-area: texto3;
    margin: 0 auto;
}

.texto4 {
    grid-area: texto4;
    margin: 0 auto;
}

.numero4 {
    grid-area: numero4;
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    color: darkcyan;
    margin: 0 auto;
}

.img4 {
    grid-area: img4;
    margin: 0 auto;
}

@media (min-width: 797px) and (max-width: 857px) {
    .nav-menu-item {
        font-size: 14px;
        margin: 0 7px;
    }

    .telefono-container {
        flex-direction: column;
    }

    .telefono-container select {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .edades-container {
        flex-direction: column;
    }
}


/* Estilos para Small (<797px) */
@media (max-width: 796.98px) {
    body {
        margin-top: 60px;
    }

    .caja-texto img {
        width: 180px;
    }

    .franja h3 {
        font-size: 20px;
    }

    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr;
    }

    .pie-pagina .grupo-1 .box {
        height: 100%;
    }
    
    .nosotros .container{
        align-content: center;
    }

    .nosotros h2 {
        font-size: 45px;
    }

    .header {
        height: 60px;
    }
    
    .logo img{
        width: 160px;
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-toggle {
        display: block;
        margin-right: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #3d16c7;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 0.3s;
        font-size: 20px;
    }

    .nav-menu li {
        font-size: 28px;
    }
    
    .nav-menu_visible {
        transform: translateX(0);
    }

    .telefono-container {
        flex-direction: column;
    }

    .telefono-container select {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .edades-container {
        flex-direction: column;
    }

    /* Cambio guía compra seguro */
    
    .guia__cotizar {
        margin: 0 auto;
        padding: 30px 30px;
        background-color: whitesmoke;
        text-align: center;
        font-size: 35px;
        letter-spacing: 0.6rem;
    }
    .container__guia {
        margin: 0 auto;
        background-color: white;
        padding: 10px 10px; 
        display: grid;
        grid-template-columns: 1fr 3fr 3fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        gap: 5px 7px;
        grid-auto-flow: row;
        grid-template-areas:
            "numero1 img1 texto1"
            "numero2 img2 texto2"
            "numero3 img3 texto3"
            "numero4 img4 texto4";
    }
    
    
}


@media (max-width: 660px) {
    body {
        margin-top: 60px;
    }

    .franja h3 {
        font-size: 15px;
    }

    .nav-menu li {
        font-size: 24px;
    }

    .caja-texto img {
        width: 150px;
    }

    .container h2 {
        font-size: 40px;
    }
    
    .container h3 {
        font-size: 25px;
    }

    .container p {
        font-size: 20px;
    }
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr;
    }

    .pie-pagina .grupo-1 .box {
        height: 100%;
    }

    .guia__cotizar {
        margin: 0 auto;
        padding: 20px 20px;
        text-align: center;
        font-size: 25px;
        letter-spacing: 0.6rem;
    }
    
    .container__guia {
        margin: 0 auto;
        background-color: white;
        padding: 10px 10px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(8, 1fr);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "numero1 img1"
            "numero1 texto1"
            "numero2 img2"
            "numero2 texto2"
            "numero3 img3"
            "numero3 texto3"
            "numero4 img4"
            "numero4 texto4";        
    }

    .logo img{
        width: 100px;
        padding: 0;
        margin-right: 20px;
        line-height: 60px;
    }
    
    .nav-toggle {
        display: block;
        margin-right: 20px;
    }
}

