$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Inter', sans-serif;
$color1: white;
$color2: blue;
$yellow: yellow;
$dark-purple: #3d16c7;
$light-green: rgb(0, 255, 0);
$hover-link-color: yellowgreen;
$banner-shadow: 0px 1px 10px rgba(0,0,0,0.4);
$franja-bg: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
$footer-bg: $dark-purple;
$button-bg: yellowgreen;
$button-hover: $light-green;
$primary-bg-color: #007BFF;
$hover-bg-color: #0056b3;
$input-border: 1px solid #ccc;
$shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
$base-font-size: 16px;
$heading-font-size: 24px;